.header {
    font-size: 1.3em;
    font-weight: 400;
    margin: 30px 0px 0px 30px;
}

.details_item {
 display: flex;
 flex-direction: row;
 margin: 5px 0px 10px 0px;
justify-content: space-around;
}

.condition {
    font-size: large;
    font-weight: 500;
    text-align: start;
}

.temp {
    font-size: large;
    font-weight: 500;
    text-align: end;
}
